<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
         processIsolation="false"
         colors="true"
         syntaxCheck="true"
         bootstrap="./tests/bootstrap.php"
         stopOnFailure="false">
    <php>
        <ini name="display_errors" value="stderr"/>
        <ini name="error_log" value="/dev/null"/>
    </php>
    <testsuite name="Unit tests">
        <directory>tests/</directory>
    </testsuite>
    <logging>
        <log type="coverage-html" target="/tmp/sisow-api/report" charset="UTF-8"/>
    </logging>
 </phpunit>
